<div style="position: relative; overflow: hidden;">
<div class="cardContainer">
	<% if ! @messages.empty? %>
		<div class="sectionHeader" style="font-weight: bold; color: white; margin: 3px;">Your Messages</div>
		<%= render "layouts/messages" %>
	<% else %>
		<div class="sectionHeader"  style="font-weight: bold; color: white; margin: 3px;"> No messages<br /> </div>
	<% end %>
	<% if current_member.admin? %>
	<p><hr /></p>
		<div class="sectionHeader"  style="font-weight: bold; color: white; margin: 3px;">All Messages (because you're an admin)</div>
		<% @messages = Message.order('created_at DESC') %>
		<%= render "layouts/messages" %>
	<% end %>
	<p></p>
</div>
<img src="messagesIcon.png" class="backImg"/>
	<img src="messageBackground.png" class="backImg"/>
</div>