<!-- @requests has mine loaded already -->
<div class="sectionHeader" style="margin-bottom: 0;">Requests for <%= current_member.first_name %></div>
<%= render "layouts/requests"%>

<% if current_member.admin? %>
	<div class="sectionHeader" style="margin-bottom: 0; margin-top: 40px;">All Requests (because you are admin)</div>
	<% @requests = Request.all.order('created_at DESC') %>
	<% @match = true %>
	<%= render "layouts/requests"%>
<% end %>
