/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.loginfield {
	font-family: 'Montserrat', sans-serif;
	color: rgb(175,177,178);
	font-size: 12pt;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 36pt;
}

.sectionHeader {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  color: white;
  background: rgb(89,210,255); 
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
};

.logincontainer {
  position: absolute;
  width: 400px;
  height: 600px;
  top: 20%;
  margin: -120px 0 0 0px;
}

.loginaction {
	width: 400px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: rgb(89,210,255);
	border-style: none;
	font-size: 14pt;
	margin-bottom: 80px;
}

.loginaction:hover {
  cursor: pointer;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color:#378de5;
  color: #444444;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.pageHeader {
  font-size: 14px;
  color: green;
  margin-bottom: 20px;
}

.messageNotice {
  position:relative;
  float:right;
  padding-left: 5pt;
}

.messageNotice a{
  color: rgb(89,210,255);
}

.submitButton {
  position:relative;
  float:right;
}

.submitButton a{
  color: rgb(89,210,255);
}

.clicky {
  font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color: rgb(89,210,255);
  -webkit-border-top-left-radius:29px;
  -moz-border-radius-topleft:29px;
  border-top-left-radius:29px;
  -webkit-border-top-right-radius:29px;
  -moz-border-radius-topright:29px;
  border-top-right-radius:29px;
  -webkit-border-bottom-right-radius:29px;
  -moz-border-radius-bottomright:29px;
  border-bottom-right-radius:29px;
  -webkit-border-bottom-left-radius:29px;
  -moz-border-radius-bottomleft:29px;
  border-bottom-left-radius:29px;
  text-indent:0px;
  border:1px solid #84bbf3;
  display:inline-block;
  height:40px;
  line-height:40px;
  text-decoration:none;
  text-align:center;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.clicky:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color:#378de5;
  color: #444444;
}

.sponsor {
	position: fixed;
	background: white;
    bottom: 0;
    right: 20px;
    text-align: right;
    width: 100%;
}

.topheader {
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

.menu{
	font-size: 12pt; 
	margin:0 auto; 
	padding:0; 
	width:100%; 
	display:block; 
	background: rgb(89,210,255); 
}

.menutab {
    height: 1.5em;
    display: flex;
    justify-content: center;
    padding-top: .5em;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    margin-left: 3px;
    display: inline-block;
}

.menutab:hover{
	background-color:rgb(255,255,255);
	color: rgb(89,210,255); 
}


.menutab:hover a{
	color: rgb(89,210,255); 
}

.menutab a{
	float:left; 
	padding-left:0px; 
	display:block; 
	color:rgb(255,255,255); 
	text-decoration:none; 
	font-family: 'Montserrat', sans-serif;  
}

.cardContainer {
  background-color: rgb(89,210,255);
  padding-top: 10px;
  padding-bottom: 20px;
}

.card {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  cursor: pointer;  
  bottom: 0;
  box-shadow: 0 -1px 0 rgb(89,210,255), 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
  display: flex;
  white-space: nowrap;
  padding: 10px;
  margin-right:5px;
  margin-left: 5px;
}

.card a {
  all: unset;
  text-decoration: underline;
  color: rgb(89,210,255);
  cursor: pointer;  
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
  width: 100%;
}

.cardCol {
  overflow: hidden;
  min-width: 95px; 
  max-width: 95px;
  margin-right:10px;
  cursor: pointer; 
  position: relative;
}

.mapdiv {
	height: 400px;
	margin-bottom: 10px; 
	max-width: 50%; 
	margin-left: 25%;
}

.badgeContainer {
		
}

.badgeImage {
	width: 60px;
	height: 60px;
}

.cardHead {
	font-weight: bold;
	min-width: 120px;
}
.cardData {
	width: 100%;
}

.cardLine {
	margin: 10px;
	display: flex;
}
