/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require lightbox
 *= require sweetalert
 */

.zero {
	margin-bottom: 20px;
	padding: 10px;
}

.logincontainer {
  width: 100%;
  height: 100%;
}

.loginFields {
	width: 535px;
	display: inline-block;
	max-width: 535px;
	text-align: center;
}

.loginfield, .zero {
	font-family: 'Montserrat', sans-serif;
	color: rgb(175,177,178);
	font-size: 10pt;
	margin-bottom: 15px;
	font-weight: bold;
	text-align: left;
}

.loginfield textarea {
	width: 80%;
    max-width: 200em;
    height: 8em;	
}

.loginfield input[type=text], input[type="password"], input[type="email"], input[type="url"], textarea {
	all: unset;
	margin-top: 12px;
	border-color: rgb(228,228,228);
	border-style: solid;
	border-width: 1px;
	padding: 15px;
	color: rgb(55,61,63);
	width: 100%; 
	max-width: 350px;
	cursor: auto;
}

.loginfield label {
	display: inline-block;	
}

.loginImg {
	display: inline-block;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	padding-top: 100px;
	background: rgba(168,232,255,1);
	background: -moz-linear-gradient(left, rgba(168,232,255,1) 0%, rgba(48,200,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(168,232,255,1)), color-stop(100%, rgba(48,200,255,1)));
	background: -webkit-linear-gradient(left, rgba(168,232,255,1) 0%, rgba(48,200,255,1) 100%);
	background: -o-linear-gradient(left, rgba(168,232,255,1) 0%, rgba(48,200,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(168,232,255,1) 0%, rgba(48,200,255,1) 100%);
	background: linear-gradient(to right, rgba(168,232,255,1) 0%, rgba(48,200,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8e8ff', endColorstr='#30c8ff', GradientType=1 );
}

.loginaction, .submitButton, .submitButton a {
	width: 375px;
	height: 55px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: rgb(89,210,255);
	border-style: none;
	font-size: 12pt;
	margin-bottom: 25px;
	cursor: pointer;
	margin-top: 12px;
	max-width: 375px;
	text-align: center;
	text-decoration: none;
}

.submitButton {
	display: flex;
	align-items: center;
}

.rememberMe1 {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background: rgba(89, 210, 255, 0.4);
}

.rememberMe2 {
	border-radius: 50%;
	width: 12px;
	height: 12px;
	background: rgb(164, 233, 75);
}

#shipping_address {
	width: 40em;
    max-width: 40em;
    height: 8em;
}

#colors {
	width: 40em;
    max-width: 40em;
    height: 4em;
}


h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 36pt;
}

.sectionHeader {
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
  color: white;
  background: rgb(89,210,255); 
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-radius: 10px 10px 0px 0px; 
	-moz-border-radius: 10px 10px 0px 0px; 
	-webkit-border-radius: 10px 10px 0px 0px; 
	border: 2px solid #59D2FF;
}

.messagesContainer {

}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

#error_explanation label {
  display: block;
}

.pageHeader {
  font-size: 14px;
  color: green;
  margin-bottom: 20px;
}

.messageNotice {
  position:relative;
  float:right;
}

.messageNotice a{
  color: rgb(89,210,255);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.messageNotice img {
	height: 14px;
}

.clicky {
  font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color: rgb(89,210,255);
  -webkit-border-top-left-radius:29px;
  -moz-border-radius-topleft:29px;
  border-top-left-radius:29px;
  -webkit-border-top-right-radius:29px;
  -moz-border-radius-topright:29px;
  border-top-right-radius:29px;
  -webkit-border-bottom-right-radius:29px;
  -moz-border-radius-bottomright:29px;
  border-bottom-right-radius:29px;
  -webkit-border-bottom-left-radius:29px;
  -moz-border-radius-bottomleft:29px;
  border-bottom-left-radius:29px;
  text-indent:0px;
  border:1px solid #84bbf3;
  display:inline-block;
  height:40px;
  line-height:40px;
  text-decoration:none;
  text-align:center;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.clicky:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color:#378de5;
  color: #444444;
  cursor: pointer;
}

.sponsor {
	position: fixed;
    bottom: 0;
    right: 20px;
    text-align: right;
    background: white;
    z-index: 900;
}

.topheader {
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

.menu{
	font-size: 12pt; 
	margin:0 auto; 
	padding:0; 
	width:100%; 
	display:block; 
	background: rgb(89,210,255); 
}

.menutab {
    height: 1.5em;
    display: flex;
    justify-content: center;
    padding: 5px;
    display: inline-block;
    background: #59d2ff;
}

.menutab a:hover {
	background-color:rgb(255,255,255);
	color: rgb(89,210,255); 
}

.menutab a{
	float:left; 
	padding:5px; 
	display:block; 
	color:rgb(255,255,255); 
	text-decoration:none; 
	font-family: 'Montserrat', sans-serif;  
}

.cardContainer {
  background-color: rgb(89,210,255);
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
}

.card {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  cursor: pointer;  
  bottom: 0;
  box-shadow: 0 -1px 0 rgb(89,210,255), 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
  display: flex;
  white-space: nowrap;
  padding: 10px;
  margin-right:5px;
  margin-left: 5px;
}

.card a {
  all: unset;
  text-decoration: underline;
  color: rgb(111,111,111);
  cursor: pointer;  
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
  width: 100%;
}

.cardCol {
  overflow: hidden;
  min-width: 95px; 
  max-width: 95px;
  margin-right:10px;
  cursor: pointer; 
  position: relative;
}

.mapdiv {
	height: 400px;
	margin-bottom: 10px; 
	width: 800px;
}

.badgeContainer {
		
}

.badgeImage {
	width: 60px;
	height: 60px;
}

.noteblock {
	max-width: 400px;
	border-radius: 16px; 
	-moz-border-radius: 16px; 
	-webkit-border-radius: 16px; 
	border: 2px solid #59D2FF;
}

.noteblock li {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #6f6f6f;
	padding-bottom: 2em;
	line-height: 1.5;
	text-align: justify;
}

.noteblock ul {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #6f6f6f;
	margin: 10px;
	margin-right: 25px;
}

.cardHead {
	font-weight: bold;
	min-width: 200px;
}
.cardData {
	width: 100%;
	white-space: normal;
}

.cardData a {
	display: inline;	
}

.cardLine {
	margin: 10px;
	display: flex;
}

.backImg {
	opacity: .3; 
	position: absolute; 
	width: 100%;
	max-width: 800px;
	top: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
