// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.messageBox {
  font-size: 14px;
  height: 100px;
  width: 100%;
  max-width: 600px;
  resize: both;
};


.messageNotice {
  position:relative;
  float:right;
}

.messageNotice a{
  color: rgb(89,210,255);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.messageNotice img {
  height: 14px;
}

.messagesContainer {

}
