// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.off {
  border: 1px solid black;
  width: 100%;
  background-color: rgb(162, 242, 204);
}