<% if !@chapters.empty? %>
	<div class="cardContainer">
	<% @chapters.each do |chapter| %>
		<% if chapter.active? %>
			<% @chapter = chapter %>
				<%= render "layouts/chapter"%>
		<% end %>
	<% end %>
	</div>
<% else %>
	<p style="font-weight: bold; color: black; margin: 3px;"> None </p>
<% end %>