<% if !@chapters.empty? %>
	<div class="cardContainer">
	<% @chapters.each do |chapter| %>
		<% if chapter.active? || current_member.admin? %>
			<% @chapter = chapter %>
				<%= render "layouts/chapter"%>
		<% end %>
	<% end %>
	</div>
<% else %>
	<div class="zero"> None </div>
<% end %>