<% if !@chapters.empty? %>
	<table border=1 width="100%">
	<% @chapters.each do |chapter| %>
		<% @chapter = chapter %>
		<tr>
			<td>
				<%= render "layouts/chapter"%>
			</td>
		</tr>
	<% end %>
	</table>
<% else %>
	None
<% end %>