<div class="sponsor">
Sponsored by <a href="www.enableoutreach.org" target="_new">Enable Outreach</a>
</div>

<!-- For debugging -->
<% case Rails.env %>
<% when 'development' %>
	<% console %>
<% end %>