<div class="sponsor" style="right: unset; text-align: left">
Please leave feedback <a href="https://docs.google.com/document/d/1DR8ULoQoJyhc5vQ0_5IvWzg-VW5g36QxV2GEwLAipEY/edit#" target="_new">here</a>
</div>
<div class="sponsor">
Sponsored by <a href="www.enableoutreach.org" target="_new">Enable Outreach</a>
</div>

<!-- For debugging -->
<% if current_member && current_member.admin? && Rails.env.development? %>
	<% console %>
<% end %>