<% if member_signed_in? %>
	Current User: <%= current_member.first_name %>

	<div class="messageNotice">
		<%= link_to Message.all.where(to: current_member.id).length.to_s << " messages", messages_path %>
	</div>
	<p id="notice"><%= notice %></p>
<% end %>