<% if !@offers.empty? %>
	<div style="position: relative; overflow: hidden;">
		<div class="cardContainer">
			<% @offers.each do |off| %>
				<% @offer = off %>
				<tr>
					<td>
						<%= render "layouts/offer"%>
					</td>
				</tr>
			<% end %>
		</div>
	</div>
<% else %>
	<div class="zero"> None </div>
<% end %>