<% if !@offers.empty? %>
	<div class="cardContainer">
	<% @offers.each do |off| %>
		<% @offer = off %>
		<tr>
			<td>
				<%= render "layouts/offer"%>
			</td>
		</tr>
	<% end %>
	</div>
<% else %>
	<p style="font-weight: bold; color: white; margin: 3px;"> None </p>
<% end %>