<% if !@requests.empty? %>
	<div class="cardContainer">
		<% @requests.each do |req| %>
			<% @request = req %>
			<% @offers = Offer.where(request_id: req.id) %>
				<%= render "layouts/request" %>
		<% end %>
	</div>
<% else %>
	<p style="font-weight: bold; color: black; margin: 3px;"> None </p>
<% end %>